*
{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body
{
    font-family: Tahoma , Arial;
}
.slide-container
{
    margin:10px auto;
    width:800px;
    height: 250px;
    position: relative;
}
.slide-container img
{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width:800px;
    height:240px;
}
.slide-container img.active
{
    opacity: 1;
}
.slide-container .slide-number
{
    position: absolute;
    left:10px;
    top:10px;
    background: rgba(0,0,0,.6);
    color:#fff;
    padding:5px 10px;
    font-size: 20px;
    z-index: 2;
    border-radius: 6px;
}
.slide-controls
{
    width:800px;
    margin: auto;
    overflow: hidden;
}
.slide-controls .prev
{
    float: left;
}
.slide-controls .next
{
    float: right;
}
.slide-controls .prev,
.slide-controls .next
{
    background: #009688;
    color:#fff;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    border-radius: 4px;
    padding:5px;
    user-select: none;
    width:20%;
}
.slide-controls .prev.disabled,
.slide-controls .next.disabled
{
    background: rgba(0,150,136,.5);
    cursor: no-drop;
}
.slide-controls .indicators
{
    width:60%;
    float: left;
}
.slide-controls .indicators ul
{
    list-style: none;
    margin:0;
    text-align: center;
}
.slide-controls .indicators ul li
{
    display: inline-block;
    background: #f6f6f6;
    color:#333;
    font-weight: bold;
    height:28px;
    width:28px;
    border-radius: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;
}
.slide-controls .indicators ul li.active
{
    background: #009688;
    color:#fff;
}